NOWPAYMENTS_EMAIL=paste_login
NOWPAYMENTS_PASSWORD=paste_password
NOWPAYMENTS_IPN_SECRET=paste_ipn_secret
NOWPAYMENTS_API_KEY=paste_api_key
NOWPAYMENTS_IPN_URL=https://somesite.com
NOWPAYMENTS_REDIRECT_SUCCESS=https://somesite.com/succcess
NOWPAYMENTS_REDIRECT_CANCEL=https://somesite.com/cancel
